.first-section{
    overflow: hidden;

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

    @include small-tablet{
        padding: clamp(20px, 3.906vw, 30px) 0 10px;
    }
}