.first-section{
    overflow: hidden;

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

    @include small-tablet{
        padding-bottom: clamp(25px, 5.602vw, 67px);
    }
}