<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="Gazer T6 Pro Max">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gazer T6 Pro Max</title>

    <link rel="preload" href="fonts/GazerSans-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/GazerSans-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

