html {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  font-family: var(--font-family);
  color: rgba(var(--color-a), 1);
  background: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  // for text resize
}

.first-section,
.info-section,
.about-section {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  ul,
  ol,
  li {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  p {
    color: rgba(var(--cl-a), 1);
    font-family: var(--font-family);
    font-size: clamp(14px, 1.505vw, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    b {
      font-weight: 700;
    }

    @include small-tablet {
      text-align: center;
    }
  }

  img,
  picture {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-offset);
  }

  * {
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      border-radius: 5px;
      cursor: pointer;

      @include small-tablet {
        display: none;
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
      cursor: pointer;
      transition: all 0.2s;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track);
    }

    &::-webkit-scrollbar-button {
      display: none;
      background-color: transparent;
      box-shadow: none;
    }
  }
}
